*{
	-webkit-box-sizing: border-box;
	font-size: 20pt;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body{
	background-color: #675032;
	padding: 0;
	margin: 0;
	background-image: url(animeback.jpg);
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	overflow: hidden;
	
}
#main header{
	background-color: #713802f2;
	position: relative;
	width: 100%;
	text-align: center;
	height: 90px;
	margin-top: 
	
	
}
#main header ul{
	margin: 25px auto;
}

#main header li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 35px;
	text-align: center;
	
}
#main header li:hover{
	background-color: #72b8ff45;
	border-radius: 20px;
}

#main header li a{
	text-decoration: none;
	color: white;
}
.aside-left{
	display: none;
}
.aside-left > article{
	
}
#aside-left > article > ul {
    border-radius: 25px;
    border: 3px solid #0a030336;
    width: 30%;
    height: 500px;
    border-left: 0;
    background-color: #5014146e;
	padding: 15px;
	position: absolute;
	z-index: 1000;
	margin-top: -50px;
	overflow: scroll;
}

#aside-left > article > ul::-webkit-scrollbar{
	background-color: #670f0f91;
	border-radius: 50px;
	height: 0;
	width: 13px;
	margin-right: 40px;
}
#aside-left > article > ul::-webkit-scrollbar-thumb{
    background-color: #c5babad4;
	border-radius: 30px;
}
#aside-left > article > ul::-webkit-scrollbar-thumb:active{
	 background-color: white;
}
#aside-left > article > ul > li {
	list-style-type: circle;
	list-style-position: inside;
	color: yellowgreen;
}
#aside-left > article > ul > li > a {
	text-decoration: none;
	color: white;
}
#aside-left > article > ul > li:first-child{
	list-style-type: none;
}
#aside-left > article > ul > li > a:hover{
	color: navajowhite;
}
#sharit{
	position: relative;
	height: 34px;
	font-size: 30px;
	margin-top: 60x;
	width: 100%;
	background-color: #330e0ea8;
	text-align: left;
}
#sharit > p {
	
	color: white;
}